<div class="card-container">
    <div class="header">
        <h3>{{item.name}}</h3>
        <h4>{{item.status}}</h4>
    </div>
    <div class="footer">
            <span>{{item.startDate}} - {{item.endDate}}</span>
    </div>
</div>

<!-- <div class="card-container">
    <div class="card">
      <div class="card-heading">Tournament</div>
      <div class="card-text">
        <span class="event-venue">27/03/2024 - 30/03/2024</span> <br />
        <span class="event-title">TTA Demo Event </span>
      </div>
    </div>
  </div> -->